<a href="https://colab.research.google.com/github/AhmedAbdoulahi/DataScience/blob/master/python_bases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Cours Python

In [ ]:
# Les variables et leur types
# python est un langage interprete contrairement à C et aux java qui un melange des deux
# NB : en python meme les types primitifs sont des objets, car ils sont implementes sous formes de classes
a = 2
print(a,type(a) )

b = 2.
print(b, type(b))

c = "bonjour"
print(c, type(c))

c2 = c[2]
print("le 3e element de C est : ",c2, " et son type est ",type(c2))

d = "shhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhferhffffffffffffffffffffffffffffffje"
print(d, type(d))

e = 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
print(d, type(d))

#Notation scientifique
a = 2e6
print("a vaut ",a," et son type est ", type(a))

2 <class 'int'>
2.0 <class 'float'>
bonjour <class 'str'>
le 3e element de C est :  n  et son type est  <class 'str'>
shhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhferhffffffffffffffffffffffffffffffje <class 'str'>
shhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhferhffffffffffffffffffffffffffffffje <class 'str'>
a vaut  2000000.0  et son type est  <class 'float'>

In [ ]:
#f-string, un elegant style d'affichage
print(f'l\'entier a est {a} et l\'entier b est {b}')
# la conversion explicite en chaine
print("l'entier a est"+str(a))

l'entier a est 2000000.0 et l'entier b est 2.0
l'entier a est2000000.0

In [ ]:
#boolean : en python c'est True ou False, d'autres conditions peuvent generer un type bool

t = True
f = False
i = type(t)
j = type(f)
print(f' t vaut {t} et f vaut {f} leur type est respectivement {type(t)} et {type(f)} ')

t = 10>3
print(f'La variable t vaut {t} et son type est {type(t)}')

 t vaut True et f vaut False leur type est respectivement <class 'bool'> et <class 'bool'>
La variable t vaut True et son type est <class 'bool'>

In [ ]:
#Une variable peut changer de type car ce sont des pointeurs vers des instances de classses
a = 2
print(f' l\'entier vaut {a} et son type {type(a)}')

a=3.0
print(f' l\'entier vaut {a} et son type {type(a)}')

#On constate bien que le type de la variable a change au cours du programme, car Python ne type pas ses variables. Au nal,
#on peut voir a comme un pointeur qui pourra, au cours de sa vie, librement pointer vers diérents types d'objets.

 l'entier vaut 2 et son type <class 'int'>
 l'entier vaut 3.0 et son type <class 'float'>

In [ ]:
#Taille mémoire des variables
import sys
# on verifie la taille grace a getsizeof de la libraries sys
a = 246555666555555
print(f' a vaut {a}, son type est {type(a)} et sa taille vaut {sys.getsizeof(a)}')

a = 246.55
print(f' a vaut {a}, son type est {type(a)} et sa taille vaut {sys.getsizeof(a)}')

a = "246555666555555"
print(f' a vaut {a}, son type est {type(a)} et sa taille vaut {sys.getsizeof(a)}')

 a vaut 246555666555555, son type est <class 'int'> et sa taille vaut 32
 a vaut 246.55, son type est <class 'float'> et sa taille vaut 24
 a vaut 246555666555555, son type est <class 'str'> et sa taille vaut 64

In [ ]:
#Conversion explicite de type
a = 2
b = float(a)
print(f' a est egal à {a} {type(a)} avant et apres conversion {b} {type(b)}')

a = '1010'
c = int(a,2) #convertir a en base 2 --> type(var,base_actuel)
print(f' {a} = {c}')

a = '0x10F6'
c = int(a,16)
print(f' {a} {type(a)} apres conversion {c} {type(c)}')

a = 10
c = str(10)
print(f' {a} {type(a)} apres conversion {c} {type(c)}')

# d'autres type de variables : complex, enum
z = complex(3, 8)
print("type complex z = ",z)

 a est egal à 2 <class 'int'> avant et apres conversion 2.0 <class 'float'>
 1010 = 10
 0x10F6 <class 'str'> apres conversion 4342 <class 'int'>
 10 <class 'int'> apres conversion 10 <class 'str'>
type complex z =  (3+8j)

In [ ]:
# type enumeration
from enum import Enum

class Forme(Enum) :
  cercle = 1
  carre = 2
  triangle = 3

class Jour(Enum) :
  lundi = 1
  Mardi = 2
  Mercredi = 3
  Jeudi = 4
  Vendredi = 5
  Samedi = 6
  Dimanche = 7

#parcourir et afficher
for s in Forme :
  print(s)

for j in Jour :
  print(j)

Forme.cercle
Forme.carre
Forme.triangle
Jour.lundi
Jour.Mardi
Jour.Mercredi
Jour.Jeudi
Jour.Vendredi
Jour.Samedi
Jour.Dimanche

In [ ]:
#pointeur null en python c'est None, c'est l'exemple de cette fonction qui es cense retourner qqch mais rien au fait
def som(x):
  x *= 2
  return

print(som(2))

None

In [ ]:
#Interaction avec l'utilisateur : print et input
# print : affiche
# input : affiche mais aussi renvoie la valeur saisi sous forme de chaine de caractere, dans ce cas il faut toujours convertir si int ou float ou autres types
nom = input("entrer votre nom : ")
print(f"je m'appelle {nom}")

#donc la il faut convertir la chaine de retour en int sinon str
age = int(input("quel est votre age : "))
print(f"J'ai {age} ans")

entrer votre nom : ABDOULAHI SALAHANNE Ahmed
je m'appelle ABDOULAHI SALAHANNE Ahmed
quel est votre age : 22
J'ai 22 ans

In [ ]:
#Quelques Constantes mathématiques
import math

print(f"la constante pi = {math.pi}")
print(f"e = {math.e}")
print(f" not a number = {math.nan}")

la constante pi = 3.141592653589793
e = 2.718281828459045
 not a number = nan

In [ ]:
# Opérateurs numériques binaires
a = 5
b = 2
print(f"a+b = {a+b}") # a += b
print(f"a*b = {a*b}") # a *= b
print(f"a-b = {a-b}") # a -= b
print(f"a/b = {a/b}") # a /= b
print(f"division unitaire : a//b = {a//b}") # a //= b
print(f"a**b = {a**b}") # a **= b
print(f"modulo : a%b = {a%b}") # a %= b

a+b = 7
a*b = 10
a-b = 3
a/b = 2.5
division unitaire : a//b = 2
a**b = 25
modulo : a%b = 1

In [ ]:
# l'operateur = egal ne marche que entre deux objet du coup a peut etre vu comme un pointeur qui pointe sur l'emplacement 3
#pour connaitre l'adresse on utilse id
a = 3
b = 4
c = 6
print(id(a))
print(id(b))
print(id(c))

b = a
print(id(b))
#id affiche l'adresse memoire ou est stocker une valeur

134417919951152
134417919951184
134417919951248
134417919951152

In [ ]:
# Fonctions mathématiques à connaître
import math

a = 0.5
b = 0.75

# y a toutes les fonctoons trigonometriques pas que les deux : acos, asin, tan, tanh etc ...
print(f"cos(0.5) = {math.cos(a)}")
print(f"sin(0.5) = {math.sin(a)}")

print(f"min(0.5,0.75) = {min(a,b)}")
print(f"max(0.5,0.75) = {max(a,b)}")
print(f"sqrt(0.5) = {math.sqrt(a)}")
print(f"pow(a,2) = {math.pow(a,2)}")
print(f"floor(a) = {math.floor(a)}")

cos(0.5) = 0.8775825618903728
sin(0.5) = 0.479425538604203
min(0.5,0.75) = 0.5
max(0.5,0.75) = 0.75
sqrt(0.5) = 0.7071067811865476
pow(a,2) = 0.25
floor(a) = 0

In [ ]:
#une fonction recursives de fibonacci

def fib(a) :
  if a == 0 :
    return 0
  elif a == 1 :
    return 1
  else :
    return fib(a-2) + fib (a-1)


a = 5
b = fib(a)
print(b)

5

In [ ]:
# Opérations sur les chaînes de caractères

nom = "ABDOULAHI SALAHANNE"
c = "chaine"
c1 = "ne"
c2 ="NB"
print(c.capitalize()) # capitalize met le 1er element en majiscule
print(c2.capitalize()) # si la cahaine est deha en majiscule, sa met la 1ere lettre en maj et le reste en miniscule
print(c.endswith(c1)) # renvoie vrai si la chaine se termine par la sous-chaine specifier
print(c.startswith(c1)) # renvoie vrai si la chaine debite avec la sous chaine en argument
print(c.find(c1)) # recherche la position de la c1 dans la chaine c
print(c.index(c1)) # meme chose que find mais si sa trouve rien une exception est generer
# isdecimal, isupper, islower : tous des test et renvoie vrai si verifier
# c.upper, c.lower : nvelle chaine soit majiscule soit miniscule
# a.replace(s, c) dans la chaine a, remplace toutes les chaines s par c
# a.split(c) la chaine est decouper a toutes les occurences de la chaine c

Chaine
Nb
True
False
4
4

**Chapitre 2**
**Variables avancées en Python - Les séquences et collections**

In [ ]:
s1 = "0033548"
s2 = "+337845"
s3 = '0'+ s2.lstrip('+33') or '0'+ s2.lstrip('0033')
print(s3)

s = ["".join(i) for i in s2 if i!='+']
s = "".join(s)
print(s)

07845
337845

In [ ]:
def format_phone_number(c) :
  #transformation de la chaine de caractere en liste
  l = list(c.strip())
  print(l)

  # exclusion sauf les nombre et '+'
  l = ["".join(i) for i in l if i.isdigit() or i=='+']
  print(l)
  #transformation de la liste en chaine de caractere
  c = "".join(l)
  print(c)

  #retirer 0033 ou +33 et remplacer par zero
  c = '0'+ c.lstrip('+33') or '0'+ c.lstrip('0033')
  c = [i for i in c if i.isdigit()] #retirer les '+'
  c = "".join(c)
  print(c)
  print(c[0])
  #si la chaine ne commence pas par zero ou n'a pas la taille de 10 chiffres on return false,None
  if c[0]!='0' or len(c) < 10 :
    return False,None
  #on construit la liste final sinon deux a deux
  else :
    c = [c[i:i+2] for i in range(0,len(c), 2)]
    c = " ".join(c)
    return True,c



c = "33 5 89 74 12 2"
format_phone_number(c)

['3', '3', ' ', '5', ' ', '8', '9', ' ', '7', '4', ' ', '1', '2', ' ', '2']
['3', '3', '5', '8', '9', '7', '4', '1', '2', '2']
3358974122
058974122
0

(False, None)

split() permet notamment de décomposer un phrase en une liste de mots et inversement join() permet de mettre bout à bout une liste de mots

In [ ]:
texte = "Bonjour le monde !"
texte = " ".join(texte)
print(texte)

mots = texte.split()
print(mots[3])
mots[3] = "M"
print(mots)
texte = " ".join(mots)
print(texte)

s = "je suis Ahmed et toi?"
t = ['j','e',' ','s','u','i','s']
print(s.split())
print("".join(t))

B o n j o u r   l e   m o n d e   !
j
['B', 'o', 'n', 'M', 'o', 'u', 'r', 'l', 'e', 'm', 'o', 'n', 'd', 'e', '!']
B o n M o u r l e m o n d e !
['je', 'suis', 'Ahmed', 'et', 'toi?']
je suis